.container{
    background-color: grey;
}

h2{
    color: red;
}

.shapes{
    background-color: black;
}
#triangle{
    background-color: green;
    margin: 3px;
    display: inline-block;
    /*float: left;*/
    width: 24%;
}
#thetriangle{
    height: 0px;
    width: 0px;
    border-left: 76px solid transparent;
    border-right: 76px solid transparent;
    border-bottom: 150px solid white;
}
#square{
    background-color: blue;
    margin: 3px;
    display: inline-block;
    /*float: left;*/
    width: 24%;
}

#thesquare{
    height: 150px;
    width: 150px;
    background: white;
    margin: 3px;
}
#rectangle{
    background-color: yellow;
    margin: 3px;
    display: inline-block;
    /*float: left*/;
    width: 24%;
}

#therectangle{
    height: 150px;
    width: 200px;
    background: white;
    margin: 3px;
}

#circle{
    background-color: red;
    margin: 3px;
    display: inline-block;
    /*float: left;*/
    width: 24%;
}
